@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Jost");


body {
    font-family: "Jost", sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #5ebaa6;
    box-shadow: 0 8px 8px -4px #bababa;
    color: #fff;
    text-align: center;
    font-size: 1.25rem;
    line-height: 1.25rem;
    max-height: 88px;
    min-height: 88px;
    height: 88px;
}

header nav ul {
    display: block;
    text-transform: uppercase;
    list-style: none;
    padding: 0;
    text-align: center;
    margin: 0;
}

header nav li {
    display: inline;
    margin-right: 2rem;
    padding: 0.5rem 2rem;
    transition: color 0.3s ease;
}

header nav li:hover {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
}

header nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

#catalogo-text{
    background-color: hsl(167, 40%, 20%);
    color: white;
    text-align: center;
    padding: 0.5rem;
}

#message {
    display: none;
    text-align: center;
    font-size: 1rem;
    padding: 2rem;
}


/* Estilos para la sección de filtros */
#filter-section {
    background-color: white;
    padding: 2rem;
    border: none;
    border: 1px solid darken(hsl(167, 40%, 20%), 10%);
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    border-radius: 3px;
}

/* Estilos para los campos de filtro */
input[type="text"],
input[type="number"] {
    flex-grow: 1;
    min-width: 200px;
    font-size: 1rem;
    padding: 1rem;
    border: 1px solid darken(hsl(167, 40%, 20%), 10%);
    border-radius: 3px;

    &:focus, &:hover, &:active {
        border: 1px solid hsl(167, 40%, 20%);
    }
}

/* Estilos para el botón del filtro */
button {
    border: none;
    border-radius: 3px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: hsl(167, 40%, 39%) 0.3s;
    font-size: 1rem;
    padding: 1rem 1.5rem;

    #appli-filters {
        background-color: hsl(167, 40%, 20%);
        color: hsl(167, 40%, 20%);
    }

    #apply-filters:hover {
        background-color: darken(hsl(169, 40%, 39%), 10%);
    }

    #reset-filters {
        background-color: hsl(169, 40%, 39%);
        color: hsl(167, 40%, 20%);
    }

    #reset-filters:hover {
        background-color: darken(hsl(169, 40%, 39%), 5%);
    }
}

.game-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1rem;
}

.game {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    margin: 1rem;
    width: 300px;
}

.game img {
    max-width: 100%;
}

.game h2 {
    margin-top: 0;
}

.game button {
    background-color: hsl(167, 40%, 55%);
    color: white;
    font-size: large;
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.game button:hover {
    background-color: hsl(167, 40%, 40%);
}

/* #endregion */
